body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Vogue';
  src: local("Vogue"), url("./Assets/Fonts/Vogue/Vogue.ttf") format("truetype")
}
@font-face {
  font-family: 'Coolvetica';
  src: local("CoolVetica"), url("./Assets/Fonts/coolvetica/coolvetica-rg.otf") format("truetype")
}
body {
  margin: 0;
  font-family: Ford-Antenna-Regular, serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  height: 100%;
}

html {
  overflow: hidden;
  position: relative;
  height: 100%;
}