.mobile-accordion {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    text-align: left;
    width: 100%;
    border-radius: 10px;
}
.mobile-accordion-plus{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    text-align: center;
    line-height: 32px;
    color: white;
}
.mobile-accordion-minus{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    text-align: center;
    line-height: 22px;
    color: white;
}
.mobile-accordion-content {
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
    font-size: 16px;
    font-family: Ford-Antenna-Med, serif;
}

.mobile-accordion-details{
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.4s;
}
.mobile-accordion-details.active{
    max-height: 260px;
}